<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
    </head>

        
    <body class="">
            <div class="container-fluid mt-5">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="card" style="width: 36rem;">
                            <div class="card-body">
                               <!-- FORM STARTS -->
                               <form action="/active_mod" method="POST">
                                <!-- title-->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label for="active_id"><b>ID</b></label>
                                            <input type="text" class="form-control" id="active_id" name="active_id" placeholder="id" value="{{metadata[0]}}">
                                        </div>
                                </div>

                                <div class="mb-3">
                                    <label for="active_name"><b>Name</b></label>
                                    <input type="text" class="form-control" id="active_name" name="active_name" placeholder="name" value="{{metadata[1]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="skill_url"><b>Skill URL</b></label>
                                    <input type="text" class="form-control" id="skill_url" name="skill_url" rows="3" placeholder="skill_url" value="{{metadata[2]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="release_method"><b>Release Mechanism</b></label>
                                    <input type="text" class="form-control" id="release_method" name="release_method" placeholder="release_method" value="{{metadata[3]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="aim_id"><b>Aim ID</b></label>
                                    <input type="text" class="form-control" id="aim_id" name="aim_id" placeholder="aim_id" value="{{metadata[4]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="active_file_addr"><b>File Address</b></label>
                                    <input type="text" class="form-control" id="active_file_addr" name="active_file_addr" placeholder="active_file_addr" value="{{metadata[5]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="cd"><b>CD</b></label>
                                    <input type="text" class="form-control" id="cd" name="cd" placeholder="cd" value="{{metadata[6]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="buff_id_one"><b>Buff ID 1</b></label>
                                    <input type="text" class="form-control" id="buff_id_one" name="buff_id_one" placeholder="buff_id_one" value="{{metadata[7]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="buff_one_trigger"><b>Buff 1 Activation Chance</b></label>
                                    <input type="text" class="form-control" id="buff_one_trigger" name="buff_one_trigger" placeholder="buff_one_trigger" value="{{metadata[8]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="buff_id_two"><b>Buff ID 2</b></label>
                                    <input type="text" class="form-control" id="buff_id_two" name="buff_id_two" placeholder="buff_id_two" value="{{metadata[9]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="buff_two_trigger"><b>Buff 2 Activation Chance</b></label>
                                    <input type="text" class="form-control" id="buff_two_trigger" name="buff_two_trigger" placeholder="buff_two_trigger" value="{{metadata[10]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="buff_id_three"><b>Buff ID 3</b></label>
                                    <input type="text" class="form-control" id="buff_id_three" name="buff_id_three" placeholder="buff_id_three" value="{{metadata[11]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="buff_three_trigger"><b>Buff 3 Activation Chance</b></label>
                                    <input type="text" class="form-control" id="buff_three_trigger" name="buff_three_trigger" placeholder="buff_three_trigger" value="{{metadata[12]}}">
                                </div>


                                <div class="mb-3">
                                    <label for="skill_eff_one_rate"><b>Skill 1 Activation rate</b></label>
                                    <input type="text" class="form-control" id="skill_eff_one_rate" name="skill_eff_one_rate" placeholder="skill_eff_one_rate" value="{{metadata[13]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="skill_one_id"><b>Skill 1 ID</b></label>
                                    <input type="text" class="form-control" id="skill_one_id" name="skill_one_id" placeholder="skill_one_id" value="{{metadata[14]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="skill_eff_two_rate"><b>Skill 2 Activation rate</b></label>
                                    <input type="text" class="form-control" id="skill_eff_two_rate" name="skill_eff_two_rate" placeholder="skill_eff_one_rate" value="{{metadata[15]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="skill_two_id"><b>Skill 2 ID</b></label>
                                    <input type="text" class="form-control" id="skill_two_id" name="skill_two_id" placeholder="skill_two_id" value="{{metadata[16]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="skill_eff_three_rate"><b>Skill 3 Activation rate</b></label>
                                    <input type="text" class="form-control" id="skill_eff_three_rate" name="skill_eff_three_rate" placeholder="skill_eff_three_rate" value="{{metadata[17]}}">
                                </div>

                                <div class="mb-3">
                                    <label for="skill_three_id"><b>Skill 3 ID</b></label>
                                    <input type="text" class="form-control" id="skill_three_id" name="skill_three_id" placeholder="skill_three_id" value="{{metadata[18]}}">
                                </div>

                                
                                <!-- edit-->
                                <div class="row">
                                    <button type="submit" class="btn btn-dark">Done</button>
                                </div>
        
                                
                              </form> 
        
                              <!-- delete-->
                              <form action="active_del?id={{metadata[0]}}" method="POST" class="mt-2">
                                <div class="row">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                              </form>
        
                              <!-- FORM ENDS-->
                              
                            </div>
                            
                          </div>
                    </div>
                </div>
            </div>

        <script src="/static/js/bootstrap.js"></script>
    </body>
</html>