<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
    </head>

    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">CSC3170 Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            </div>
        </nav>

        <!-- Title -->
        <div class="container-fluid mt-5"></div>
        <div class="container-fluid mt-5"></div>
        <div class="container-fluid mt-5"></div>

        <div class="text-center">
            <h1 class="display-4">Video Game Character Configuration</h1>
        </div>

        <div class="container-fluid mt-5"></div>
        <div class="container-fluid mt-5"></div>
        <div class="container-fluid mt-5"></div>


        <!-- row 1 -->
        <div class="d-flex p-2 row justify-content-center">

           
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" style="width: 287px; height: 180px;"  src="static/pic/character.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Characters</h5>
                              <p class="card-text">Stores basic information about each character available.</p>
                              <a href="/characters" class="btn btn-dark">View Details</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" style="width: 287px; height: 180px;" src="static/pic/tool.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Item Collection</h5>
                              <p class="card-text">Stores basic information about each tool available.</p>
                              <a href="/tools" class="btn btn-dark">View Details</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3"></div>

                </div>
            </div>
        
        </div>  


        <div class="container-fluid mt-5"></div>
        <div class="container-fluid mt-5"></div>


        <!-- row 2 -->
        <div class="d-flex p-2 row justify-content-center">

           
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" style="width: 287px; height: 180px;"  src="static/pic/actortech.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Character Skills</h5>
                              <p class="card-text">Information about each skill that a character may possess.</p>
                              <a href="/actors" class="btn btn-dark">View Details</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" style="width: 287px; height: 180px;" src="static/pic/buff.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Buff</h5>
                              <p class="card-text">Stores basic information about each buff available.</p>
                              <a href="/buffs" class="btn btn-dark">View Details</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3"></div>

                </div>
            </div>
        
        </div>

        <div class="container-fluid mt-5"></div>
        <div class="container-fluid mt-5"></div>

        <!-- row 3 -->
        <div class="d-flex p-2 row justify-content-center">

           
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" style="width: 287px; height: 180px;"  src="static/pic/passive.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Passive Skills</h5>
                              <p class="card-text">Stores information about each passive skill available.</p>
                              <a href="/passive" class="btn btn-dark">View Details</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" style="width: 287px; height: 180px;" src="static/pic/active.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Active Skills</h5>
                              <p class="card-text">Stores information about each active skill available.</p>
                              <a href="/active" class="btn btn-dark">View Details</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3"></div>

                </div>
            </div>
        
        </div>


        <div class="container-fluid mt-5"></div>
        <div class="container-fluid mt-5"></div>

        <!-- row 4 -->
        <div class="d-flex p-2 row justify-content-center">

           
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" style="width: 287px; height: 180px;"  src="static/pic/aim.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Ranged Attack</h5>
                              <p class="card-text">Stores information about each ranged attack available.</p>
                              <a href="/aim" class="btn btn-dark">View Details</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" style="width: 287px; height: 180px;" src="static/pic/skilldmg.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Skill Damage</h5>
                              <p class="card-text">Stores information about each skill's  damages.</p>
                              <a href="/skill" class="btn btn-dark">View Details</a>
                            </div>
                          </div>
                    </div>

                    <div class="col-sm-3"></div>

                </div>
            </div>
        
        </div>


        <div class="container-fluid mt-5"></div>
        <div class="container-fluid mt-5"></div>

        <script src="/static/js/bootstrap.js"></script>
    </body>
</html>