<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
    </head>
    <body class="">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Passive Skills</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/passive_add?id=null">Add Passive Skill</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>


        <!-- content -->
        <div class="container-fluid mt-5"></div>
            {%for data in dataset%}
            <div class="row justify-content-center">
                <div class="col-0"></div>
                    <div class="col-8">
                        <div class="card mb-4">
                            <div class="row card-body">
                            
                            <!-- Title & edit link -->

                            <div class="col-sm-12">
                            <h5 class="card-title">
                                {{data[1]}}
                                <a href="/passive_add?id={{data[0]}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="dark" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                                    </svg>
                                </a>
                            </h5>
                            <!-- Title & edit link -->

                            <!-- content -->
                            
                                <p class="card-text"><b>Trigger Type: </b>{{data[2]}} <b> || Trigger Chance: </b> {{data[5]}} %</p>
                                <p class="card-text"><b>CD: </b>{{data[3]}} <b> || Usage Target: </b> {{data[4]}}</p>
                                <p class="card-text"><b>Buff 1 activation rate: </b>{{data[7]}} <b> || Buff 2 activation rate: </b> {{data[9]}} <b> || Buff 3 activation rate: </b> {{data[11]}} </p>
                            </div>


                            
                            <!-- content -->
                        </div>
                </div>
            </div>
            </div>
            <div class="col-2"></div> <!-- spacer -->
            {%endfor%}
        

        <script src="/static/js/bootstrap.js"></script>
    </body>
</html>